<div class="header">
    <%= link_to "MyAtOnce Admin", admin_mao_path, class: "header__logo" %>
    <div class="header__search">
        <input type="text">
    </div>
    <div class="header__profile">
        <a href="" class="header__profile__link">Bryan Reed</a>
        <div class="header__profile__dropdown">
            <ul>
                <li><a href="">Edit Account</a></li>
                <li><a href="">Action</a></li>
                <li><a href="">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>